<?xml version="1.0"?>
<launch>
    <arg name="debug" default="0" />

    <node name="generate_dynamic_scene_node" pkg="hdi_plan" type="generate_dynamic_scene_node" output="screen">
      <rosparam file="$(find hdi_plan)/params/motion_planner_tmp.yaml" />
      <remap from="hdi_plan/quadrotor_state" to="ground_truth/odometry" />
    </node>

</launch>